 <html>
 <head>
     <title>My Project :: Hello</title>
 <style>
    body {
      padding-left: var(--padding-left);
      padding-top: var(--padding-left);
    }
  </style>
 <link href="/style/theme_{{ theme }}.css" rel="stylesheet" type="text/css">
 </head>
 <body>

 <form method="post" action="/theme">
  <button type="submit">Switch theme</button>
</form>
           <h1 style="background-color:powderblue;">>Hello {{ name_saved|default:"anonymous" }}!</h1>
            {% if year %}
           <h1 style="background-color:tomato;">>You was born at {{year}}!</h1>
            {% endif %}
           <p>path: {{self.path}}</p>
           <hr color="red" width="30000">

           <form action="/hello/update/" method="post">
    <div>
      <label class="{{class_for_name}}" for="name-id" style="grid-area: gi-name-label">{{label_for_name}}</label>
      <input id="name-id" name="name" style="grid-area: gi-name-input" type="text" value="{{name_new}}">

      <label class="{{class_for_age}}" for="age-id" style="grid-area: gi-age-label">{{label_for_age}}</label>
      <input id="age-id" name="age" style="grid-area: gi-age-input" type="text" value="{{age_new}}">

      <button id="greet-button-id" style="grid-area: gi-submit" type="submit">Greet</button>
    </div>
               {% csrf_token %}
  </form>
  <form action="/" method="post">
    <div>
           <button type="submit">Home Page</button>
           <a class="btn  btn--red" href="/">Home page</a>
    </div>
      {% csrf_token %}
  </form>

  <form action="/hello/reset/" method="post">
    <div>
      <button  type="submit">Reset</button>
    </div>
      {% csrf_token %}
  </form>

 </body>
 </html>

